@media (max-width: 1200px) {
    .container {
        max-width: 850px;
        margin: 0 auto;
    }
    .header {
        &__logo {
            width: 200px;
            img {
                width: 100%;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        min-height: 550px;
        padding: 21px 0 53px 0;
        &__header {
            font-size: 36px;
            font-weight: 700;
            line-height: 20px;
        }
        &__subheader {
            font-size: 20px;
            font-weight: 500;
        }
        &__icons {
            margin-top: 45px;
            width: 400px;
        }
        &__icon {
            width: 108px;
            font-size: 12px;
            font-weight: 500;
            img {
                margin-bottom: 10px;  
            }
        }
        &__link {
            font-size: 14px;
            font-weight: 500;
            margin-top: 14px;
        }
    }
    
    .button {
        width: 135px;
        height: 30px;
        border-radius: 5px;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        &_main {
            margin-top: 67px;
            width: 270px;
            height: 50px;
            font-size: 15px;
        }
        &_submit {
            width: 100%;
            height: 50px;
            font-size: 14px;
        }
        &_mini {
            width: 120px;
            height: 36px;
            font-size: 14px;
        }
    }
    .title {
        font-size: 26px;
        &_left {
            font-size: 26px;
            }
    }
    .advantages {
        min-height: 430px;
        padding: 50px 0 60px 0;
        &__subtitle {
            font-size: 16px;
            margin-top: 30px;
        }
        &__descr {
            font-size: 13px;
            margin-top: 12px;
        }
    }
    .consultation {
        min-height: 630px;
        padding: 80px 0 85px 0;
        &__descr {
            font-size: 18px;
            margin-top: 60px;
        }
    }
    .feed-form {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        width: 270px;
        input {
            height: 45px;
            background-color: #ffffff;
            border-radius: 5.0px;
            margin-bottom: 15px;
            border: none;
            padding: 0 20px;
            font-size: 14px;
            font-weight: 300;
            color: #4b4b4b;
            &:nth-child(3) {
                margin-bottom: 20px;
            }
        }
    }
    .carousel {
        padding: 71px 0;
        &__inner {
            position: relative;
            width: 650px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 70px;
    }
    .catalog-item {
        width: 270px;
        height: 475px;
        margin-bottom: 20px;
        &__img {
            max-width: 100%;
            height: 180px;
        }
        &__price {
            font-size: 16px;
        }
        &__descr {
            margin-top: 14px;
            font-size: 12px;
        }
    }
    .feed {
        padding-bottom: 65px;
        &__item {
            display: flex;
            margin-top: 80px;
            &:nth-child(2){
                margin-top: 60px;
            }
        }
        &__img {
            width: 155px;
            height: 155px;   
        }
        &__text {
            margin-left: 55px;
            padding-right: 55px;
        }
        &__subtitle {
            font-size: 16px;
            font-weight: 700;
        }
        &__count {
            font-size: 12px;
            font-weight: 500;  
        }
        &__descr {
            font-size: 14px;
            font-weight: 300;
            margin-top: 10px;
        }
    }
    .footer {
        height: 580px;
        &__info {
            width: 420px;
            height: 240px;
            background-color: $main-color;
            padding: 50px 68px 60px 68px;
        }
        &__addr {
            margin-bottom: 32px;
            font-size: 18px;
            line-height: 18px;
        }
        &__phone {
            margin-bottom: 34px;
            font-size: 18px;
            line-height: 18px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            margin: 0 15px;
            img {
                height: 22px;
            }  
        }
    } 
    .modal {
        width: 346px;
        min-height: 380px;
        padding: 34px 38px 34px 38px;
        &__close {
            right: -40px;
            font-size: 41px;
            line-height: 21px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 15px;
        }
        &_mini {
            min-height: 140px;
        }
    }
}




@media (max-width: 991px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }
    .header {
        &__logo {
            width: 180px;
            img {
                width: 100%;
            }
        }
        &__phone {
            font-size: 13px;
            margin-top: 5px;
        }
        &__official {
            font-size: 11px;
            span {
                display: block;
                font-size: 16px;
            }
        }
    }
    .promo {
        min-height: 550px;
        padding: 21px 0 53px 0;
        &__header {
            font-size: 32px;
            font-weight: 700;
            line-height: 20px;
        }
        &__subheader {
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
        }
        &__icons {
            margin-top: 45px;
            width: 400px;
        }
        &__icon {
            width: 108px;
            font-size: 12px;
            font-weight: 500;
            img {
                margin-bottom: 10px;  
            }
        }
        &__link {
            font-size: 14px;
            font-weight: 500;
            margin-top: 14px;
        }
    }
    
    .button {
        width: 120px;
        height: 25px;
        border-radius: 5px;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 5px;
        &_main {
            margin-top: 67px;
            width: 240px;
            height: 40px;
            font-size: 14px;
        }
        &_submit {
            width: 100%;
            height: 45px;
            font-size: 12px;
        }
        &_mini {
            width: 120px;
            height: 34px;
            font-size: 14px;
        }
    }
    .title {
        font-size: 26px;
        &_left {
            font-size: 24px;
            }
    }
    .advantages {
        min-height: 430px;
        padding: 50px 0 60px 0;
        &__subtitle {
            font-size: 16px;
            margin-top: 30px;
        }
        &__descr {
            font-size: 13px;
            margin-top: 12px;
        }
        &__wrapper {
            margin-top: 55px;
        }
        &__item {
            max-width: 200px;
        }
    }
    .consultation {
        min-height: 580px;
        padding: 70px 0 75px 0;
        &__descr {
            font-size: 16px;
            margin-top: 50px;
            line-height: 20px;
        }
    }
    .feed-form {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        width: 250px;
        input {
            height: 40px;
            background-color: #ffffff;
            border-radius: 5.0px;
            margin-bottom: 15px;
            border: none;
            padding: 0 20px;
            font-size: 14px;
            font-weight: 300;
            color: #4b4b4b;
            &:nth-child(3) {
                margin-bottom: 20px;
            }
        }
    }
    .carousel {
        padding: 51px 0;
        &__inner {
            position: relative;
            width: 550px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 190px;
            height: 40px;
            font-size: 14px;
            line-height: 38px;
        }
    }

    .catalog-item {
        width: 340px;
        height: 445px;
        margin-bottom: 20px;
        &__img {
            max-width: 100%;
            height: 180px;
        }
        &__price {
            font-size: 16px;
        }
        &__descr {
            font-size: 14px;
            padding: 0 10px;
        }
    }
    .feed {
        padding-bottom: 50px;
        &__item {
            display: flex;
            margin-top: 60px;
            &:nth-child(2){
                margin-top: 40px;
            }
        }
        &__img {
            width: 130px;
            height: 130px;   
        }
        &__text {
            margin-left: 45px;
            padding-right: 45px;
        }
        &__subtitle {
            font-size: 14px;
            font-weight: 700;
        }
        &__count {
            font-size: 12px;
            font-weight: 500;  
        }
        &__descr {
            font-size: 14px;
            font-weight: 300;
            margin-top: 10px;
        }
    }
    .footer {
        height: 380px;
        &__info {
            width: 350px;
            height: 190px;
            background-color: $main-color;
            padding: 36px 46px 32px 46px;
        }
        &__addr {
            margin-bottom: 28px;
            font-size: 16px;
            line-height: 16px;
        }
        &__phone {
            margin-bottom: 32px;
            font-size: 16px;
            line-height: 16px;
        }
        &__social-item {
            width: 34px;
            height: 34px;
            margin: 0 15px;
            img {
                height: 18px;
            }  
        }
    } 
    .modal {
        width: 316px;
        min-height: 340px;
        padding: 30px 32px 34px 32px;
        &__close {
            right: -30px;
            font-size: 41px;
            line-height: 21px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 14px;
        }
        &_mini {
            min-height: 140px;
        }
    }
}



@media (max-width: 767px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
    }
    .header {
        &__logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        &__phone {
            font-size: 11px;
            margin-top:3px;
        }
        &__official {
            font-size: 8px;
            span {
                display: block;
                font-size: 10px;
            }
        }
    }
    .promo {
        min-height: 500px;
        padding: 21px 0 53px 0;
        &__header {
            font-size: 26px;
            font-weight: 700;
        }
        &__subheader {
            font-size: 14px;
            font-weight: 500;
            margin-top: 5px;
        }
        &__icons {
            margin-top: 45px;
            width: 350px;
        }
        &__icon {
            width: 100px;
            font-size: 12px;
            font-weight: 500;
            img {
                margin-bottom: 10px; 
            }
        }
        &__link {
            font-size: 12px;
            font-weight: 500;
            margin-top: 7px;
        }
    }
    
    .button {
        width: 100px;
        height: 20px;
        border-radius: 5px;
        font-size: 8px;
        font-weight: 500;
        text-transform: uppercase;
        &_main {
            margin-top: 57px;
            width: 200px;
            height: 30px;
            font-size: 12px;
        }
        &_submit {
            width: 100%;
            height: 40px;
            font-size: 10px;
        }
        &_mini {
            width: 110px;
            height: 32px;
            font-size: 13px;
        }
    }
    .title {
        font-size: 20px;
        &_left {
            font-size: 18px;
            }
    }
    .advantages {
        min-height: 420px;
        padding: 50px 0 60px 0;
        &__subtitle {
            font-size: 12px;
            margin-top: 25px;
        }
        &__descr {
            font-size: 11px;
            margin-top: 10px;
        }
        &__wrapper {
            margin-top: 45px;
        }
        &__item {
            max-width: 150px;
        }
    }
    .consultation {
        min-height: 500px;
        padding: 60px 0 65px 0;
        &__descr {
            font-size: 14px;
            margin-top: 50px;
            line-height: 18px;
        }
    }
    .feed-form {
        margin-top: 28px;
        display: flex;
        flex-direction: column;
        width: 230px;
        input {
            height: 40px;
            background-color: #ffffff;
            border-radius: 5.0px;
            margin-bottom: 15px;
            border: none;
            padding: 0 20px;
            font-size: 12px;
            font-weight: 300;
            color: #4b4b4b;
            &:nth-child(3) {
                margin-bottom: 20px;
            }
        }
    }
    .carousel {
        padding: 31px 0;
        &__inner {
            position: relative;
            width: 430px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            width: 180px;
            height: 30px;
            font-size: 12px;
            line-height: 30px;
        }
    }

    .catalog-item {
        margin: 0 auto;
        
        width: 340px;
        height: 445px;
        margin-bottom: 20px;
        &__img {
            max-width: 100%;
            height: 180px;
        }
        &__price {
            font-size: 16px;
        }
        &__descr {
            font-size: 14px;
            padding: 0 10px;
        }
    }
    .feed {
        padding-bottom: 40px;
        &__item {
            display: flex;
            margin-top: 50px;
            &:nth-child(2){
                margin-top: 30px;
            }
        }
        &__img {
            width: 110px;
            height: 110px;   
        }
        &__text {
            margin-left: 35px;
            padding-right: 25px;
        }
        &__subtitle {
            font-size: 14px;
            font-weight: 700;
        }
        &__count {
            font-size: 12px;
            font-weight: 500;  
        }
        &__descr {
            font-size: 13px;
            font-weight: 300;
            margin-top: 10px;
        }
    }
    .footer {
        height: 160px;
        &__info {
            width: 280px;
            height: 190px;
            background-color: $main-color;
            padding: 26px 26px 32px 26px;
        }
        &__addr {
            margin-bottom: 30px;
            font-size: 14px;
            line-height: 14px;
        }
        &__phone {
            margin-bottom: 38px;
            font-size: 16px;
            line-height: 16px;
        }
        &__social-item {
            width: 32px;
            height: 32px;
            margin: 0 15px;
            img {
                height: 16px;
            }  
        }
    }
    .modal {
        width: 296px;
        min-height: 340px;
        padding: 22px 32px 32px 32px;
        &__close {
            right: -30px;
            font-size: 41px;
            line-height: 21px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
        &_mini {
            min-height: 140px;
        }
    } 
}



@media (max-width: 575px) {
    .container {
        max-width: 280px;
        margin: 0 auto;
    }
    .header {
        &__logo {
            width: 90px;
            img {
                width: 100%;
            }
        }
        &__phone {
            font-size: 8px;
            margin-top:10px;
        }
        &__official {
            font-size: 7px;
            span {
                display: block;
                font-size: 8px;
            }
        }
    }
    .promo {
        min-height: 300px;
        padding: 21px 0 53px 0;
        &__header {
            font-size: 18px;
            font-weight: 700;
            line-height: 10px;
        }
        &__subheader {
            font-size: 10px;
            font-weight: 500;
            margin-top: 2px;
        }
        &__icons {
            margin-top: 35px;
            width: 200px;
        }
        &__icon {
            width: 60px;
            font-size: 10px;
            font-weight: 500;
            img {
                margin-bottom: 15px; 
            }
        }
        &__link {
            font-size: 8px;
            font-weight: 500;
            margin-top: 5px;
        }
    }
    
    .button {
        width: 60px;
        height: 20px;
        border-radius: 5px;
        font-size: 6px;
        font-weight: 500;
        text-transform: uppercase;
        &_main {
            margin-top: 27px;
            width: 100px;
            height: 25px;
            font-size: 7px;
        }
        &_submit {
            width: 100%;
            height: 30px;
            font-size: 10px;
        }
        &_mini {
            width: 80px;
            height: 26px;
            font-size: 10px;
        }
    }
    .title {
        font-size: 14px;
        &_left {
            font-size: 12px;
            }
    }
    .advantages {
        min-height: 380px;
        padding: 50px 0 60px 0;
        &__subtitle {
            font-size: 9px;
            margin-top: 25px;
            text-align: center;
        }
        &__descr {
            font-size: 8px;
            margin-top: 10px;
        }
        &__wrapper {
            margin-top: 45px;
        }
        &__item {
            max-width: 80px;
            img {
                max-width: 50%;
            }
        }
    }
    .consultation {
        min-height: 400px;
        padding: 50px 0 55px 0;
        &__descr {
            font-size: 12px;
            margin-top: 40px;
            line-height: 14px;
        }
    }
    .feed-form {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        width: 170px;
        input {
            height: 30px;
            background-color: #ffffff;
            border-radius: 5.0px;
            margin-bottom: 15px;
            border: none;
            padding: 0 20px;
            font-size: 12px;
            font-weight: 300;
            color: #4b4b4b;
            &:nth-child(3) {
                margin-bottom: 20px;
            }
        }
    }
    .carousel {
        padding: 21px 0;
        &__inner {
            position: relative;
            width: 280px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 20px;
        &__tabs {
            margin-top: 20px;
        }
        &__tab {
            width: 120px;
            height: 26px;
            font-size: 8px;
            line-height: 26px;
        }
    }

    .catalog-item {
        margin: 0 auto;
        width: 340px;
        height: 445px;
        margin-bottom: 20px;
        &__img {
            max-width: 100%;
            height: 180px;
        }
        &__price {
            font-size: 14px;
        }
        &__subtitle {
            margin-top: 25px;
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
            padding: 0 14px;
        }
        &__list
            li {
            font-size: 12px;
        }
    }
    .feed {
        padding-bottom: 30px;
        &__item {
            display: flex;
            margin-top: 40px;
            &:nth-child(2){
                margin-top: 25px;
            }
        }
        &__img {
            width: 70px;
            height: 70px;   
        }
        &__text {
            margin-left: 20px;
            padding-right: 12px;
        }
        &__subtitle {
            font-size: 12px;
            font-weight: 700;
        }
        &__count {
            font-size: 12px;
            font-weight: 500;  
        }
        &__descr {
            font-size: 12px;
            font-weight: 300;
            margin-top: 10px;
        }
    }
    .footer {
        height: 100px;
        &__info {
            width: 220px;
            height: 160px;
            background-color: $main-color;
            padding: 24px 14px 26px 14px;
        }
        &__addr {
            margin-bottom: 30px;
            font-size: 12px;
            line-height: 12px;
        }
        &__phone {
            margin-bottom: 24px;
            font-size: 12px;
            line-height: 12px;
        }
        &__social-item {
            width: 28px;
            height: 28px;
            margin: 0 15px;
            img {
                height: 14px;
            }  
        }
    } 
    .modal {
        width: 210px;
        min-height: 240px;
        padding: 18px 20px 28px 20px;
        &__close {
            right: -26px;
            font-size: 36px;
            line-height: 18px;
        }
        &__subtitle {
            font-size: 12px;
        }
        &__descr {
            font-size: 10px;
        }
        &_mini {
            min-height: 140px;
        }
    } 

}